<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<style>
    parent{
        display: flex;
        width: auto;
        height: 100px;
        position: relative;
    }

    box{ 
        display: block;
        flex: 1;
        width: 300px;
        height: auto; 
        padding: 20px;
        background-color: aqua;

    }
    para{
        font-size: 20px;
        color: black;
        font-weight: bolder;

    }
</style>
</head>
<body>


    <parent>
        <box>
            <para><a href = "/">Home</a></para>
        </box>
        <box>
            <para><a href>Login</a></para>
        </box>
        <box>
            <para><a href>About Us</a> </para>
        </box>
        <box>
            <para><a href>Logged in</a> </para>
        </box>

    </parent>
    
</body>
</html>
