<form action = '/login' method ="POST">
    <label for="FirstName">First Name</label>
    <input
      type="text"
      id="FirstName"
      name="person[FirstName]"
      placeholder="Enter First Name"
    />
    <label for="LastName">Last Name</label>
    <input
      type="text"
      id="LastName"
      name="person[LastName]"
      placeholder="Enter Last Name"
    />
    <input 
    type = "submit" value="Click"/>
</form>
